/*@import url("https://fonts.googleapis.com/css?family=Hind+Madurai");*/
@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*https://fontawesome.com/v4.7.0/icons/*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Atkinson+Hyperlegible,Latha,Helmet,Freesans,Helvetica,Arial,sans-serif';
  color: #333;
  background: #333;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 220px;
}

.content {
  flex: 1;
  padding: 30px;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(220px, 0, 0);
}

.button {
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Demo Navigation */
.title {
  font-size: 21px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav li a {
  position: relative;
  display: block;
  padding: 20px 0 20px 50px;
  font-size: 21px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 21px fontawesome;
  position: absolute;
  top: 19px;
  left: 20px;
}

.nav li:nth-child(1) a:before {
  content: "\f02d";
}

.nav li:nth-child(2) a:before {
  content: "\f21e";
}

.nav li:nth-child(3) a:before {
  content: "\f212";
}

.nav li:nth-child(4) a:before {
  content: '\f073';

}

.nav li:nth-child(5) a:before {
  content: '\f022';
}

.nav li:nth-child(6) a:before {
  content: '\f115';
}

.nav li:nth-child(7) a:before {
  content: '\f085';
}

.nav li:nth-child(8) a:before {
  content: '\f023';
  left: 23px;
}

.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}

.title a:before{
  font: 21px fontawesome;
  position: absolute;
  top: 12px;
  left: 37px;  
  content: "\f015";
}

/* Demo Description */
h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}
h2 {
    font-size: 18px !important;
    /*  font-weight: 400;*/
  }
  h3 {
    font-size: 14px !important;
    /*  font-weight: 400;*/
  }

.pagelist li {margin-top: 20px; }
.pagelist ul{line-height:180%}

.tamil {font-size: 14pt;line-height : 1.6em }
.tamil1 {font-size: 14pt;line-height : 1.6em }
.arabic {text-align: right; direction: rtl; unicode-bidi: embed;font-size: 25px;}
.arabic1 {font-size: 18px;}
.notes li{border:0px;font-size: 8pt;}
.hide{display:none}
.show{display:block}

table th,td {border:solid 1px #01FF70}
@media print{
/*
	margin:0;padding:0px;
	table {border-collapse:collapse; table-layout:fixed;}
	table td {border:solid 1px #fab; width:100px; word-wrap:break-word;}
*/	
}
#container{width: 100%;}

#tblcontainer {
    display: table;
     padding: 5px;
     width: 100%;
    }

  .tblrow  {
      display: table-row;
      padding: 5px;
    }
    .tblhead    { 
      display: table-header-group 
    }

  .ayath {
      display: table-cell;
      padding: 20px;
      border-bottom: #000000 dotted 1px;
      font-size: 20px   
    }

  .left, .right, .middle {
      display: table-cell;
      padding: 5px;
      width: 150px;
      border: #000000 solid 1px;
      margin: 5px;      
    }
input[type=text]{
    width: 230px;
    border: 1px solid #008CBA;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  font-size: 16px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;    
}

input[type=text]{
    width: 30%;
}

/* When the input field gets focus, change its width to 100% */
/*
input[type=text]:focus {
    width: 70%;
}
*/

.searchBtn {
    position: relative;
    background-color: #008CBA;
    border-radius: 24px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    width: 300px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.searchBtn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@media (min-width: 320px) and (max-width: 480px) {
  .sidebar {
    width: 20px;
    display: none;
  }
.content {
  flex: 1;
  padding: 10px;
  }
.nav ul{line-height:180%}
.pagelist ul{line-height:180%}

}