<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="theme-color" content="#243447">
	<meta name="color-scheme" content="light">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/select.css">
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title> {{ page.title }}</title>
</head>