	  <div class='sidebar tamil' id="site-sidebar">
	    <div class='title'>
	     <a href="{{ site.baseurl }}/" style="color: white"> முகப்பு</a>
	    </div>
	    <ul class='nav'>
	      <li>
	         <a href="{{ site.baseurl }}/pages/alquran/index.html?langCode=7">அல்-குர்ஆன்</a>
	      </li>
	      <li>
	         <a href="{{ site.baseurl }}/pages/alquran/tafsirIndex.html?langCode=ta">தஃப்சீர் இப்னு கஸீர்</a>
	      </li>	      
	      
	      <li>
	        <a href="{{ site.baseurl }}/pages/aqeeda/aqeeda.html">அகீதா</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/hadith/index.html">ஹதீஸ்கள்</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/TamilTyping.html">Tamil Typing</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/prayertime.html">Prayer Time</a>
	      </li>
	      
<!-- 	      <li>
	        <a href="{{ site.baseurl }}/pages/moonpos.html">Moon Position</a>
	      </li>	 -->      
	    </ul>
	  </div>