	  <div class='sidebar'>
	    <div class='title'>
	     <a href="{{ site.baseurl }}/pages/" style="color: white"> HOME</a>
	    </div>
	    <ul class='nav'>
	      <li>
	         <a href="{{ site.baseurl }}/pages/alquran/index.html?langCode=5">Al Quran</a>
	      </li>	    	
	      <li>
	        <a href="{{ site.baseurl }}/pages/aqeeda.html">Aqeedah</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/hadith.html">Hadith</a>
	      </li>
<!-- 	      
	      <li>
	        <a>Experiments</a>
	      </li>
	      <li>
	        <a>Previews</a>
	      </li>
	      <li>
	        <a>Assets</a>
	      </li>
	      <li>
	        <a>Settings</a>
	      </li>
	      <li>
	        <a>Logout</a>
	      </li> 
-->

	    </ul>
	  </div>