	  <div class='sidebar tamil'>
	    <div class='title'>
	     <a href="{{ site.baseurl }}/pages/" style="color: white"> முகப்பு</a>
	    </div>
	    <ul class='nav'>
	      <li>
	         <a href="{{ site.baseurl }}/pages/alquran/index.html?langCode=5">அல்-குர்ஆன்</a>
	      </li>	    	
	      <li>
	        <a href="{{ site.baseurl }}/pages/aqeeda.html">அகீதா</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/hadith/index.html">ஹதீஸ்கள்</a>
	      </li>
	      <li>
	        <a href="{{ site.baseurl }}/pages/prayertime.html">Prayer Time</a>
	      </li>
	    </ul>
	  </div>